<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>发布新公告</title>
  <script src="../js/polyfill.min.js"></script>
  <script src="../js/axios.min.js"></script>
  <script src="../api/api.js"></script>
  <script src="../api/apiConfig.js"></script>
  <script src="../api/apiHttp.js"></script>
  <script src="../js/mui.min.js"></script>
  <link href="../css/reset.css" rel="stylesheet" />
  <link href="../css/mui.min.css" rel="stylesheet" />
  <link href="../css/weui.min.css" rel="stylesheet" />
  <script src="../js/vue.js"></script>
  <script src="../js/exif.js"></script>
  <script src="../js/openWindow.js"></script>
  <script type="text/javascript" charset="utf-8">
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 10.8 + 'px';
  </script>
  <style type="text/css">
    .container {
      position: relative;
      top: 1.8rem;
    }

    .title {
      background-color: #fff;
      margin-top: 0.3rem;
      height: 1.5rem;
      padding: 0.2rem;
      margin-bottom: 0.5rem;

    }

    .swiperArea {
      width: 100%;
      margin-top: 0.5rem;

    }

    .swiper_title {
      font-size: 0.3rem;
      font-weight: bold;
      padding: 0.2rem;

    }

    .alert-content,
    .pic-content {
      padding: 0.2rem;
      background-color: #fff;
      margin-bottom: 0.5rem;
    }

    .submit {
      background-color: #1296DB;
      text-align: center;
      width: 95%;
      height: 1rem;
      padding: 0.2rem 0;
      color: #fff;
      border-radius: 0.1rem;
      margin: 0 auto;
    }

    .picArea {
      width: 100%;
      flex-wrap: wrap;
    }

    .delete_img {
      width: 0.7rem;
      height: 0.7rem;
      position: absolute;
      right: 0.3rem;
      bottom: 0.3rem;
    }

    .line {
      background-color: #fff;
      height: 2rem;
      padding: 0.4rem;
      width: 100%;
      margin-bottom: 0.3rem;
    }
  </style>
</head>

<body ontouchstart>
  <div id="alert">
    <c-header :title="title">
    </c-header>
    <div class="container">
      <div class="flex j-b line" v-for="(item, index) in lineArray" :key="index" @click="handleSelect(item.index)">
        <div class="flex j-b w_100" v-if="!item.type">
          <span class="noti-title">{{item.title}}</span>
          <span style="width: 80%;white-space: nowrap; text-overflow: ellipsis;overflow: hidden;text-align: end;">{{format(item.key)}}</span>
        </div>
        <div v-else-if="item.type === 'input'" class="flex w_100">
          <span class="noti-title" style="width: 2.5rem;">{{item.title}}</span>
          <input class="t-input" type="text" :placeholder="item.placeholder" v-model="submitForm[item.key]" />
        </div>
        <img v-if="!item.type" src="../icons/forward.png" class="icon-small" />
      </div>
      <div class="alert-content">
        <div class="noti-title" style="border-bottom: 1px solid #ccc;padding: 0.3rem 0;">*公告内容</div>
        <textarea placeholder="请输入内容" style="outline: 0; border: 0; height: 5rem;" v-model="announceForm.content">

        </textarea>
      </div>
      <div class="pic-content">
        <div class="noti-title" style="border-bottom: 1px solid #ccc;padding: 0.3rem 0;">公告附图</div>
        <div class="picArea flex" @click="uploadPic">
          <div v-for="(item, index) in announceForm.pics" style="margin: 0.3rem 0.2rem;position: relative;">
            <img :src="HOST + item.path" :key="index" class="uimg" style="width: 3rem; height: 3rem; vertical-align: middle;"
              @click.stop="galleryShow(index)" />
            <img src="../icons/delete_active.png" class="delete_img" @click.stop="deleteImg(index)" />
          </div>
          <img src="../icons/addPic.png" style="margin: 0.3rem 0;width: 3rem; height: 3rem; vertical-align: middle;" />
        </div>
      </div>
      <div class="submit" @click="addMsg">
        发布
      </div>
    </div>
  </div>
</body>


<script src="../components/cHeader.js"></script>
<script>
  new Vue({
    el: '#alert',
    data: {
      selected: -1,
      title: '发布新公告',
      detail_title: '',
      lineArray: [{
        title: '单位',
        key: 'companyName',
        index: 0,
      }, ],
      announceForm: {
        companyIds: '',
        companyName: '',
        userId: infoGet('userId'),
        content: '',
        pics: [],
      },
      HOST: 'http://219.132.139.116:9090/',
      uploadUrl: 'http://219.132.139.116:9090/pic/uploadPic',
    },
    created: function () {
      var self = this;
      window.addEventListener('org', function (e) {
        var label = e.detail.label;
        var org = e.detail.value;
        self.announceForm.companyIds = org;
        self.announceForm.companyName = label;
      })
      h5(function () {
        var webview = plus.webview.currentWebview();
        self.ad = webview.ad;
        self.announceForm.advertisementId = self.ad;
        self.announceForm.userId = infoGet('userId');
        self.detail_title = webview.title;
      });
    },
    methods: {
      handleSelect(index) {
        if (index === undefined) {
          return;
        }
        var self = this;
        switch (index) {
          case 0:
            h5(function () {
              jumpTo({
                to: 'org_select.html',
                data: {
                  atype: 'announcement',
                  companyId: self.announceForm.companyIds || '',
                  companyName: self.announceForm.companyName || ''
                }
              });
            })
            return;
            // case 1:
            //   if (infoGet('userType') == '2') {
            //     this.roleArray = this.roleArray.slice(0, 1);
            //   }
            //   this.selectArray = this.roleArray;
            //   break;
            // case 2:
            //   this.selectArray = this.leaderArray;
            //   break;
        }
        this.isSelect = true;
      },
      handleSelected(data) {
        this.submitForm[data.key] = this.selectArray[data.index].value;
        this.isSelect = false;
      },
      format(key) {
        var self = this;
        switch (key) {
          // case 'companyId':
          //     var temp = self.orgArray.filter(function (ele) {
          //         return ele.value == self.submitForm.companyId;
          //     })[0];
          //     if (temp) {
          //         return temp.label
          //     }
          //     return '';
          // case 'userType':
          //     var temp = self.roleArray.filter(function (ele) {
          //         return ele.value == self.submitForm.userType;
          //     })[0];
          //     if (temp) {
          //         return temp.label
          //     }
          //     return '';
          // case 'superiorUserId':
          //     var temp = self.leaderArray.filter(function (ele) {
          //         return ele.value == self.submitForm.superiorUserId;
          //     })[0];
          //     if (temp) {
          //         return temp.label
          //     }
          //     return '';
          case 'companyName':
            return self.announceForm.companyName;
        }
      },
      galleryShow(index) {
        var self = this;
        h5(function () {
          var urls = [];
          self.announceForm.pics.forEach(ele => {
            var url = self.HOST + ele.path;
            urls.push(url);
          });
          plus.nativeUI.previewImage(urls, {
            current: index,
            loop: true,
            indicator: 'number',
          })
        })
      },
      deleteImg(index) {
        this.announceForm.pics.splice(index, 1);
      },
      resetForm() {
        this.announceForm = {
          advertisementId: '',
          userId: '',
          content: '',
          pics: [],
        }
      },
      addMsg() {
        var self = this;
        this.announceForm.pics = JSON.stringify(self.announceForm.pics);
        pm(api.addMsg, self.announceForm, res => {
          toast(res);
          self.resetForm();
          setTimeout(function () {
            mui.back();
          }, 1000)

        }, err => {
          console.log(err);
        })
      },
      uploadPic() {
        var self = this;
        h5(function () {
          uploadImg(1, self.uploadUrl, function (res) {
            if (res.code === 0) {
              self.announceForm.pics.push(res.result);
            } else {
              console.log(res.message)
            }

          })
        })
      },
    },
  })
</script>

</html>